
.login_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30vh;
    gap: 10px;
}

.login_title {
    text-align: left;
    font-size: 24px;
    font-weight: 500;
}

.login_input {
    width: 100%;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
    color: #1a1a1a;
    background-color: #ffffff;
    border: 2px solid #d0d7e0;
    border-radius: 5px;
    outline: none;
    transition: all 0.2s ease;
}