.card_list {
    padding: 8px 0;
}

.description {
    font-size: 16px;
    color: #334155;
}

.amount {
    font-weight: 600;
    font-size: 17px;
}

.transaction_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    border-bottom: 1px solid #f1f5f9;
    min-height: 56px;
}

.transaction_card:last-child {
    border-bottom: none;
}

.income {
    color: #10b981;
}

.outcome {
    color: #ef4444;
}

.category_description {
    color: #8b00ff;
}

.pk_checkbox {
    width: 20px;
    height: 20px;

    border-radius: 50%;
    border: 2px solid #9ca3af;
    background-color: white;

    margin-right: 12px;
    accent-color: #3b82f6;

    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease;
}

/* 체크됐을 때 스타일 */
.pk_checkbox:checked {
  background-color: #3b82f6;
  border-color: #3b82f6;
}